.total__item {
  display: flex;
  max-width: 200px;
  padding: 5px 50px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}

.total__item__text {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.deposit-icon {
  color: yellowgreen;
}
