.total__item {
  width: 250px;
  min-height: 150px;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.total__title {
  display: flex;
  justify-content: center;
}

.deposit-icon {
  color: rgba(103, 58, 183, 1);
}

