.footer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 80px;
}

.footer__logo__container {
  width: 20%;
}

.footer__logo {
  width: 2.5rem;
}

.footer__social__container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.fooer__social__item {
  font-size: 1.2rem;
}

.fooer__social__item:visited {
  color: transparent;
}

.footer__social__item--text,
.footer__login__btn {
  display: none;
}

/* RESPONSIBE TABLET */

@media (min-width: 768px) {
  .fooer__social__item {
    font-size: 1.6rem;
  }

  .footer__logo {
    width: 3rem;
  }

}

/* RESPONSIVE DESKTOP */

@media (min-width: 768px) {
  .footer {
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .fooer__social__item {
    font-size: 1.9rem;
  }

  .footer__social__item--text {
    display: inline-block;
    font-size: 1rem;
    padding-left: 10px;
  }
}
