<footer class="footer">
  <div class="footer__logo__container">
    <img
      class="footer__logo"
      src="../../../../../../assets/images/wallet.png"
      alt="wallet logo"
    />
  </div>
  <div class="footer__social__container">
    <a class="fooer__social__item" href=""
    ><i class="fa-brands fa-linkedin"
    ><span class="footer__social__item--text">LinkedIn</span></i
    ></a
    >
    <a class="fooer__social__item" href=""
    ><i class="fa-brands fa-instagram"
    ><span class="footer__social__item--text">Instagram</span></i
    >
    </a>
    <a class="fooer__social__item" href=""
    ><i class="fa-brands fa-github"
    ><span class="footer__social__item--text">Github</span></i
    ></a
    >
  </div>
</footer>
