<section class="expenses__container" [@fadeInOnEnter]>
  <div class="expenses__title">
    <h2>Egresos </h2>
  </div>
  <div class="total__container">
    <wal-total [title]="'Egresos del mes'" [total]="totalMonthExpenses"
               [icon]="'/assets/arrow-up.json'"
               [iconColor]="'primary:#6d42ba'"></wal-total>
    <wal-total [title]="'Egresos del año'" [total]="totalYearExpenses"
               [icon]="'/assets/arrow-down.json'"
               [iconColor]="'primary:#ff6ba4'"></wal-total>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="operation__list--container">
    <wal-generic-operation-list [title]="title" [operations]="expensesAccountMovements$"
    ></wal-generic-operation-list>
  </div>
  <mat-divider class="divider"></mat-divider>
  <wal-operations-graphics [barChar]="barChar"></wal-operations-graphics>
</section>

