<div class="balance__container">
  <div class="balance__item">
    <img src="assets/images/map.png" class="map__img" alt="">
    <div class="balance__item--header">
      <img src="assets/images/wallet.png" alt="">
      <h3>WALLET</h3>
    </div>
    <div class="balance__item--body">
      <h2>Cuenta Nro : {{ accountNumberProps }}</h2>
    </div>
    <div class="balance__item--footer">
      <p>Balance :</p>
      <p class="balance__item--footer--amount">{{ accountBalanceProps | currency}}</p>
    </div>
  </div>
</div>
