<div class="top__navbar__profile">

  <button class="profile__pic__btn" mat-icon-button [matMenuTriggerFor]="menu"
          matTooltip="Profile">
    <img class="profile__pic" src="{{(currentUser$ | async)?.urlImg}}" alt="profile picture">
  </button>

  <mat-menu #menu="matMenu">
    <button id="profile-edit-btn" mat-menu-item (click)="navigate()">
      <mat-icon>create</mat-icon>
      <span>Edit Profile</span>
    </button>
    <button id="navbar-logout-btn" mat-menu-item (click)="onLogout()">
      <mat-icon>forward</mat-icon>
      <span>Logout</span>
    </button>

  </mat-menu>
</div>
