.profile__pic__btn {
  width: 65px;
  height: 65px;
}

.profile__pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .profile__pic__btn {
    width: 50px;
    height: 50px;
  }
}
