<h2 mat-dialog-title>TERMS OF SERVICE</h2>
<mat-dialog-content class="mat-typography">
  <h2>Dear User:</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit porttitor habitasse, proin elementum convallis vivamus platea congue velit cubilia integer viverra, est suspendisse netus eget cum semper suscipit fusce. Suspendisse accumsan dictumst quam nisl felis a sagittis vel, enim platea volutpat congue nulla aliquet himenaeos convallis, posuere placerat torquent mi ad lobortis interdum. Cras augue nibh aliquet dis facilisi torquent porta fusce, dictum mauris habitasse suscipit curabitur sociosqu phasellus, sed potenti parturient luctus montes ante gravida. Pellentesque sociosqu blandit eros id lectus nostra taciti cras tortor aenean himenaeos, tellus magna inceptos velit fermentum pulvinar iaculis fringilla senectus feugiat.

    Hac neque facilisi id dis et ut dictumst quam, ullamcorper blandit hendrerit facilisis potenti auctor mauris, ligula at convallis ac risus posuere mi. Nisl quis quam mollis rhoncus taciti eleifend placerat penatibus, nascetur nostra sociis dui semper diam condimentum, gravida convallis hac sollicitudin tellus maecenas ultricies. Ut dapibus a volutpat nisi erat, litora ad risus tristique per elementum, vehicula mattis euismod cras.

    Leo posuere augue eleifend arcu a quisque tristique placerat iaculis accumsan, orci curae fermentum sociis mollis cum mus ridiculus. Ligula praesent mattis sapien aliquam sollicitudin semper proin primis interdum purus ante, lectus convallis nostra pretium justo dictum cubilia erat maecenas porttitor eget, quisque ornare libero pharetra tortor aliquet cum sagittis curae natoque. Ullamcorper urna vivamus id porta ultrices venenatis dictumst dis turpis, pharetra est suspendisse augue at per orci nostra lacus himenaeos, fusce in massa vel pulvinar montes et sollicitudin. Dis inceptos accumsan placerat ut ac morbi ligula hac dignissim, dictum auctor bibendum fames molestie litora quisque nisi rhoncus, vel class netus odio conubia parturient enim in.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Accept</button>
  <button mat-button color="warn" mat-dialog-close>Decline</button>
</mat-dialog-actions>

