<section class="login">
  <div class="login__container__top">
    <div class="login__top__banner">
      <img
        class="login__top__banner--img"
        src="../../../../../../../../../../assets/images/wallet.png"
        alt="logo wallet"
      />
      <div class="login__top__banner--text">
        <h1>Wallet</h1>
        <h5>The best Wallet</h5>
      </div>
    </div>
    <div class="login__bottom__banner">
      <img
        src="../../../../../../../../../../assets/images/Wavy_Tech-31_Single-01.jpg"
        alt=""
        class="login__bottom__banner--img"
      />
    </div>
  </div>
  <div class="login__container__bottom">
    <h2>Welcome</h2>

    <form class="login__form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <fieldset class="login__form__fieldset">
        <label for="firstNameInput">First Name </label>
        <input type="text" id="firstNameInput" formControlName="firstname"
               [class.invalid]="
         registerForm.get('firstname')?.invalid &&
         (registerForm.get('firstname')?.touched ||
          registerForm.get('firstname')?.dirty)
"
        />
        <span class="error" *ngIf="(
        registerForm.get('firstname')?.hasError('required') &&
        (registerForm.get('firstname')?.dirty ||
        registerForm.get('firstname')?.touched)
        )">
          Este campo es requerido.
       </span>
        <span class="error" *ngIf="(
        registerForm.get('firstname')?.hasError('minlength') &&
        (registerForm.get('firstname')?.dirty ||
        registerForm.get('firstname')?.touched)
        )">
          El nombre debe tener al menos 3 caracteres.
       </span>
        <span class="error" *ngIf="(
        registerForm.get('firstname')?.hasError('maxlength') &&
        (registerForm.get('firstname')?.dirty ||
        registerForm.get('firstname')?.touched)
        )">
          El nombre debe tener un maximo de 15 caracteres.
       </span>
      </fieldset>
      <fieldset class="login__form__fieldset">
        <label for="lastNameInput">Last Name</label>
        <input type="text" id="lastNameInput" formControlName="lastname" [class.invalid]="
         registerForm.get('lastname')?.invalid &&
         (registerForm.get('lastname')?.touched ||
          registerForm.get('lastname')?.dirty)
"/>
        <span class="error" *ngIf="(
        registerForm.get('lastname')?.hasError('required') &&
        (registerForm.get('lastname')?.dirty ||
        registerForm.get('lastname')?.touched)
        )">
          Este campo es requerido.
       </span>
        <span class="error" *ngIf="(
        registerForm.get('lastname')?.hasError('minlength') &&
        (registerForm.get('lastname')?.dirty ||
        registerForm.get('lastname')?.touched)
        )">
          El apellido debe tener al menos 3 caracteres.
       </span>
        <span class="error" *ngIf="(
        registerForm.get('lastname')?.hasError('maxlength') &&
        (registerForm.get('lastname')?.dirty ||
        registerForm.get('lastname')?.touched)
        )">
          El apellido debe tener un maximo de 15 caracteres.
       </span>
      </fieldset>
      <fieldset class="login__form__fieldset">
        <label for="emailInput">Email Address </label>
        <input type="email" id="emailInput" formControlName="email"
               [class.invalid]="
         registerForm.get('email')?.invalid &&
         (registerForm.get('email')?.touched ||
          registerForm.get('email')?.dirty)
"
        />
        <span class="error" *ngIf="(
        registerForm.get('email')?.hasError('required') &&
        (registerForm.get('email')?.dirty ||
        registerForm.get('email')?.touched)
        )">
          Este campo es requerido.
       </span>
        <span class="error" *ngIf="(
        registerForm.get('email')?.hasError('email') &&
        (registerForm.get('email')?.dirty ||
        registerForm.get('email')?.touched)
        )">
          El formato es incorrecto.
       </span>
      </fieldset>
      <fieldset class="login__form__fieldset">
        <label for="passwordInput">Password</label>
        <input type="password" id="passwordInput" formControlName="password"
               [class.invalid]="
         registerForm.get('password')?.invalid &&
         (registerForm.get('password')?.touched ||
          registerForm.get('password')?.dirty)
"
        />
        <span class="error" *ngIf="(
        registerForm.get('password')?.hasError('required') &&
        (registerForm.get('password')?.dirty ||
        registerForm.get('password')?.touched)
        )">
          Este campo es requerido.
       </span>
        <span class="error" *ngIf="(
        registerForm.get('password')?.hasError('minlength') &&
        (registerForm.get('password')?.dirty ||
        registerForm.get('password')?.touched)
        )">
          El password debe contener al menos 4 caracteres.
       </span>
      </fieldset>
      <div class="login__form__btn__container">
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</section>
