.password__forgot__success {
  padding-top:20px;
}
.password__forgot__success__content {
  text-align: center;
  padding: 15px 0;
}
.password__forgot__success__icon {
  font-size: 10em;
}
.mdc-card__actions {
  justify-content: center;
}
