<section class="edit__profile__container" [@fadeInDownOnEnter]>
  <mat-card class="example-card">
    <mat-card-header>
      <div
        mat-card-avatar
        [ngStyle]="{ 'background-image': 'url(' + currentUser?.urlImg + ')' }"
        [style.background-size]="'cover'"
      ></div>
      <mat-card-title>{{ currentUser?.firstname }}</mat-card-title>
      <mat-card-subtitle>{{ currentUser?.lastname }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form
        class="login__form"
        [formGroup]="updateUserForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field appearance="outline">
          <mat-label>Edit Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Jhon"
            id="firstNameInput"
            formControlName="firstname"
            [class.invalid]="
              updateUserForm.get('firstname')?.invalid &&
              (updateUserForm.get('firstname')?.touched ||
                updateUserForm.get('firstname')?.dirty)
            "
          />
          <mat-error
            *ngIf="
              updateUserForm.get('firstname')?.hasError('required') &&
              (updateUserForm.get('firstname')?.dirty ||
                updateUserForm.get('firstname')?.touched)
            "
            >This field is required.
          </mat-error>
          <mat-error
            *ngIf="
              updateUserForm.get('firstname')?.hasError('minlength') &&
              (updateUserForm.get('firstname')?.dirty ||
                updateUserForm.get('firstname')?.touched)
            "
          >
            The name must have at least 3 characters.
          </mat-error>
          <mat-error
            *ngIf="
              updateUserForm.get('firstname')?.hasError('maxlength') &&
              (updateUserForm.get('firstname')?.dirty ||
                updateUserForm.get('firstname')?.touched)
            "
          >
            The name must have a maximum of 15 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Edit last name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Doe"
            id="lastNameInput"
            formControlName="lastname"
            [class.invalid]="
              updateUserForm.get('lastname')?.invalid &&
              (updateUserForm.get('lastname')?.touched ||
                updateUserForm.get('lastname')?.dirty)
            "
          />
          <mat-error
            *ngIf="
              updateUserForm.get('lastname')?.hasError('required') &&
              (updateUserForm.get('lastname')?.dirty ||
                updateUserForm.get('lastname')?.touched)
            "
            >This field is required.
          </mat-error>
          <mat-error
            *ngIf="
              updateUserForm.get('lastname')?.hasError('minlength') &&
              (updateUserForm.get('lastname')?.dirty ||
                updateUserForm.get('lastname')?.touched)
            "
          >
            The last name must have at least 3 characters.
          </mat-error>
          <mat-error
            *ngIf="
              updateUserForm.get('lastname')?.hasError('maxlength') &&
              (updateUserForm.get('lastname')?.dirty ||
                updateUserForm.get('lastname')?.touched)
            "
          >
            The last name must have a maximum of 15 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Change Password</mat-label>
          <input
            matInput
            type="text"
            placeholder="*****"
            id="passwordInput"
            formControlName="password"
            [class.invalid]="
              updateUserForm.get('password')?.invalid &&
              (updateUserForm.get('password')?.touched ||
                updateUserForm.get('password')?.dirty)
            "
          />
          <mat-error
            *ngIf="
              updateUserForm.get('password')?.hasError('minlength') &&
              (updateUserForm.get('password')?.dirty ||
                updateUserForm.get('password')?.touched)
            "
          >
            The password must have at least 4 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Profile image URL</mat-label>
          <input
            matInput
            type="text"
            placeholder="https://cdn-icons-png.flaticon.com/128/149/149071.png"
            id="imgUrlInput"
            formControlName="urlImg"
          />
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Save</button>

      </form>
    </mat-card-content>
  </mat-card>
</section>
