<section class="login">
  <div class="login__container__top">
    <div class="login__top__banner">
      <img
        class="login__top__banner--img"
        src="../../../../../../../../../assets/images/wallet.png"
        alt="logo wallet"
      />
      <div class="login__top__banner--text">
        <h1>Wallet</h1>
        <h5>The best Wallet</h5>
      </div>
    </div>
    <div class="login__bottom__banner">
      <img
        src="../../../../../../../../../assets/images/Wavy_Tech-31_Single-01.jpg"
        alt=""
        class="login__bottom__banner--img"
      />
    </div>
  </div>
  <div class="login__container__bottom">
    <h2>Welcom Back</h2>
    <form>
      <!-- //todo -->
    </form>
  </div>
</section>
