<form [formGroup]="form">

  <ng-container>

    <mat-form-field appearance="fill">
      <ng-container *ngIf="(formTypeProps == 'deposit') || (formTypeProps == 'payment') ; else labelTransfer">
        <mat-label>Select account to {{formTypeProps}}</mat-label>
      </ng-container>

      <ng-container>
        <ng-template #labelTransfer>
          <mat-label>Select Origin account</mat-label>
        </ng-template>
      </ng-container>

      <mat-select id="inputAccounts" formControlName="accountId" [(value)]="selected">
        <mat-option *ngFor="
              let account of userAccounts$ | async" value="{{account.accountId}}">Account
          Nº{{account.accountId}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('accountId')?.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <ng-container *ngIf="(formTypeProps == 'transfer')">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Destiny Account</mat-label>
        <input id="inputDestiny" type="number" matInput formControlName="destinyAccount"
               [errorStateMatcher]="matcher"
               class="example-right-align" placeholder="Destiny Account Nº">

        <mat-hint>
          Enter the account number to transfer</mat-hint>
        <mat-error *ngIf="form.get('destinyAccount')?.hasError('required')">
          This field is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('destinyAccount')?.hasError('min')">
          You must provide an existing account
        </mat-error>
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Amount</mat-label>
      <input id="inputAmount" type="number" matInput formControlName="amount" [errorStateMatcher]="matcher"
             class="example-right-align" placeholder="0">
      <span matTextPrefix>$&nbsp;</span>
      <mat-hint>
        Enter a value greater than 0</mat-hint>
      <mat-error *ngIf="form.get('amount')?.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('amount')?.hasError('min')">
        The ammount must be greater than 1
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Description</mat-label>
      <input id="inputConcept" type="text" matInput formControlName="description" [errorStateMatcher]="matcher"
             class="example-right-align" placeholder="
Enter a description">

      <mat-hint>
        Between 3 and 15 characters</mat-hint>
      <mat-error *ngIf="form.get('description')?.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('description')?.hasError('minlength')">
        Please enter a minimum of 3 characters.
      </mat-error>
      <mat-error *ngIf="form.get('description')?.hasError('maxlength')">
        Please enter a maximum of 15 characters.
      </mat-error>
    </mat-form-field>

  </ng-container>
</form>
