<form [formGroup]="form">
  <ng-container>
    <mat-form-field appearance="fill">
      <ng-container
        *ngIf="
          formTypeProps == 'deposit' || formTypeProps == 'payment';
          else labelTransfer
        "
      >
        <mat-label>Select account to {{ formTypeProps }}</mat-label>
      </ng-container>

      <ng-container>
        <ng-template #labelTransfer>
          <mat-label>Select Origin account</mat-label>
        </ng-template>
      </ng-container>

      <mat-select
        id="inputAccounts"
        formControlName="accountId"
        [(value)]="selected"
      >
        <mat-option
          *ngFor="let account of userAccounts$ | async"
          value="{{ account.accountId }}"
          >Account Nº{{ account.accountId }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.get('accountId')?.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <ng-container *ngIf="formTypeProps == 'transfer'">
      <div class="transfer__form__container">
        <mat-label><h2>Destiny account</h2></mat-label>
        <div class="example-action-buttons">
          <button mat-button (click)="accordion.openAll()">Expand All</button>
          <button mat-button (click)="accordion.closeAll()">
            Collapse All
          </button>
        </div>

        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel *ngFor="let user of users$ | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div
                  class="accordion__img"
                  [ngStyle]="{
                    'background-image': 'url(' + user.urlImg + ')',
                    'background-size': 'cover',
                    'background-repeat': 'no-repeat'
                  }"
                ></div>
                {{ user.firstName }} {{ user.lastName }}
              </mat-panel-title>
              <mat-panel-description>
                {{ user.email }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <mat-label>Select account</mat-label>

              <mat-select
                id="inputDestiny"
                formControlName="destinyAccount"
                [(value)]="userAccountSelected"
                [errorStateMatcher]="matcher"
              >
                <mat-option
                  *ngFor="let account of user.accounts"
                  value="{{ account.accountId }}"
                  >Account Nº{{ account.accountId }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-error *ngIf="form.get('destinyAccount')?.hasError('required')">
          You must select an account to <strong>transfer</strong>
        </mat-error>
      </div>
    </ng-container>

    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Amount</mat-label>
      <input
        id="inputAmount"
        type="number"
        matInput
        formControlName="amount"
        [errorStateMatcher]="matcher"
        class="example-right-align"
        placeholder="0"
      />
      <span matTextPrefix>$&nbsp;</span>
      <mat-hint> Enter a value greater than 0</mat-hint>
      <mat-error *ngIf="form.get('amount')?.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('amount')?.hasError('min')">
        The ammount must be greater than 1
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Description</mat-label>
      <input
        id="inputConcept"
        type="text"
        matInput
        formControlName="description"
        [errorStateMatcher]="matcher"
        class="example-right-align"
        placeholder="
Enter a description"
      />

      <mat-hint> Between 3 and 15 characters</mat-hint>
      <mat-error *ngIf="form.get('description')?.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('description')?.hasError('minlength')">
        Please enter a minimum of 3 characters.
      </mat-error>
      <mat-error *ngIf="form.get('description')?.hasError('maxlength')">
        Please enter a maximum of 15 characters.
      </mat-error>
    </mat-form-field>
  </ng-container>
</form>
