
.error-messages {
  padding: 15px 0;
}
.error-messages__item {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.error-messages__item__text, .error-messages__item__icon {
  display: flex;
  padding: 0 5px;
  vertical-align: middle;
  color: red;
}
