<main [@fadeInOnEnter]>
  <section class="home__title__container">
    <wal-generic-title [title]="saludo"></wal-generic-title>
    <ng-lottie
      [options]="options"
    >
    </ng-lottie>
  </section>
  <mat-divider class="divider"></mat-divider>
  <section class="carousel__container">
    <div class="carousel__title">
      <h2>Cuentas </h2>
    </div>
    <div class="carousel">

      <div [matBadgeHidden]="badgeAction$" class="mat-badge" matBadge="New" matBadgePosition="after" matBadgeColor="accent">
        <ngx-slick-carousel class="carousel"

                            [config]="slideConfig"
        >
          <div ngxSlickItem *ngFor="let account of userAccounts$ | async" class="slide slide-balance">

            <wal-balance [accountNumber]="account.accountId" [accountBalance]="account.balance"
                         class="slide--item"
            >
            </wal-balance>


            <ng-container *ngIf="account.accountId == activeAccount;else btnInactive">
              <mat-slide-toggle class="slide-btn" checked disabled><span class="active">Active</span>
              </mat-slide-toggle>
            </ng-container>

            <ng-template #btnInactive>
              <mat-slide-toggle (click)="
      setActive(account.accountId)"
                                class="slide-btn inactive"><span class="inactive">Set Active</span>
              </mat-slide-toggle>
            </ng-template>
          </div>

        </ngx-slick-carousel>
      </div>

      <div class="carousel__actions">
        <lord-icon
          src="/assets/arrow.json"
          trigger="loop"
          colors="primary:#ff2c7d"
          class="arrow prev-arrow"
          (click)="hideBadge()">
        </lord-icon>
        <lord-icon
          src="/assets/arrow.json"
          trigger="loop"
          colors="primary:#ff2c7d"
          class="arrow next-arrow"
          (click)="hideBadge()"
        >
        </lord-icon>
      </div>
      <div class="new__account--container">
        <wal-new-account></wal-new-account>
      </div>
    </div>
  </section>



  <div class="transactions__btns__container">
    <wal-transactions-services></wal-transactions-services>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="home__background">

    <div class="operation__list--container">
      <wal-generic-operation-list [title]="title" [operations]="latestAccountMovements$"
      ></wal-generic-operation-list>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="operations__graphics__container">
      <wal-operations-graphics [barChar]="barChar"></wal-operations-graphics>
    </div>
  </div>
</main>
