.carousel--container {
  width: 330px;
  margin: 30px auto;

}

.carousel__actions, .new__account--container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.carousel__actions i {
  cursor: pointer;
  color: #ff2c7d;
}

.slide {
  position: relative;
}

.slide-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 999999999999999999999999999999999999999999 !important;
}

.active {
  color: #1cd900;
  font-weight: 700;
}

.inactive {
  color: #ff0000;
  font-weight: 700;
}

.operation__list--container {
  margin-bottom: 50px;
}

/*@media (max-width: 480px) {
  .carousel--container {
    width: 80%;
  }

}*/
