.carousel--container {
  width: 88%;
  margin: 30px auto;

}

.carousel__actions, .new__account--container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.carousel__actions i {
  cursor: pointer;
  color: #ff2c7d;
}
