<section class="password__reset">
  <ng-container *ngIf="!(isSubmitedSuccessfully$ | async) ; else passResetSuccessTemplate">
  <mat-card class="password__reset__card">
    <mat-card-header class="password__reset__card__header">
      <mat-card-title>Change Password</mat-card-title>
      <mat-card-subtitle>Enter your new password</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="password__reset__form" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="password__reset__field">
          <mat-label>Enter your new password</mat-label>
          <input matInput type="password" placeholder="********" id="resetPasswordInput" formControlName="password"
                 [class.invalid]="
            passwordResetForm.get('password')?.invalid &&
            (passwordResetForm.get('password')?.touched ||
             passwordResetForm.get('password')?.dirty)
   "
          />
          <mat-error *ngIf="(
           passwordResetForm.get('password')?.hasError('required') &&
           (passwordResetForm.get('password')?.dirty ||
           passwordResetForm.get('password')?.touched)
           )">This field is riquired.
          </mat-error>
          <mat-error *ngIf="(
           passwordResetForm.get('password')?.hasError('minlength') &&
           (passwordResetForm.get('password')?.dirty ||
           passwordResetForm.get('password')?.touched)
           )">
            The password must contain at least 4 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="password__reset__field">
          <mat-label>Repeat your new password</mat-label>
          <input matInput type="password" placeholder="********" id="confirmPasswordInput" formControlName="confirmPassword"
                 [class.invalid]="
            passwordResetForm.get('confirmPassword')?.invalid &&
            (passwordResetForm.get('confirmPassword')?.touched ||
             passwordResetForm.get('confirmPassword')?.dirty)
   "
          />
          <mat-error *ngIf="(
           passwordResetForm.get('confirmPassword')?.hasError('required') &&
           (passwordResetForm.get('confirmPassword')?.dirty ||
           passwordResetForm.get('confirmPassword')?.touched)
           )">This field is required.
          </mat-error>
          <mat-error *ngIf="(
           passwordResetForm.get('confirmPassword')?.hasError('minlength') &&
           (passwordResetForm.get('confirmPassword')?.dirty ||
           passwordResetForm.get('confirmPassword')?.touched)
           )"> The password must contain at least 4 characters.
          </mat-error>

        </mat-form-field>
        <mat-error *ngIf="passwordResetForm.errors?.['mismatch']" class="password__reset__mismatch">
          <mat-icon class="error-messages__item__icon">warning</mat-icon>
          Passwords do not match        </mat-error>
        <mat-card-actions align="start">
        <button mat-button color="primary" type="submit">Save</button>
        <button mat-button color="warn" (click)="navigate()">Cancel</button>
      </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
  </ng-container>
  <ng-template #passResetSuccessTemplate>
    <wal-password-reset-success></wal-password-reset-success>
  </ng-template>
</section>

