.password__reset {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #673ab7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.password__reset__card{
  width: 100%;
}
.password__reset__field{
  padding:20px 0;
  min-width: 80%;
  max-width: 80%;
}

.password__reset__mismatch{
  display: flex;
  flex-direction: column;
}
