<section class="password__reset">
  <mat-card>
    <mat-card-header class="password__reset__card">
      <mat-card-title>Cambiar Contraseña</mat-card-title>
      <mat-card-subtitle>Ingrese su nueva contraseña</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="password__reset__form" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="password__reset__field">
          <mat-label>Ingrese su nueva contraseña</mat-label>
          <input matInput type="password" placeholder="********" id="resetPasswordInput" formControlName="password"
                 [class.invalid]="
            passwordResetForm.get('password')?.invalid &&
            (passwordResetForm.get('password')?.touched ||
             passwordResetForm.get('password')?.dirty)
   "
          />
          <mat-error *ngIf="(
           passwordResetForm.get('password')?.hasError('required') &&
           (passwordResetForm.get('password')?.dirty ||
           passwordResetForm.get('password')?.touched)
           )">Este campo es requerido.
          </mat-error>
          <mat-error *ngIf="(
           passwordResetForm.get('password')?.hasError('minlength') &&
           (passwordResetForm.get('password')?.dirty ||
           passwordResetForm.get('password')?.touched)
           )">La contraseña debe tener al menos 4 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="password__reset__field">
          <mat-label>Repita su nueva contraseña</mat-label>
          <input matInput type="password" placeholder="********" id="confirmPasswordInput" formControlName="confirmPassword"
                 [class.invalid]="
            passwordResetForm.get('confirmPassword')?.invalid &&
            (passwordResetForm.get('confirmPassword')?.touched ||
             passwordResetForm.get('confirmPassword')?.dirty)
   "
          />
          <mat-error *ngIf="(
           passwordResetForm.get('confirmPassword')?.hasError('required') &&
           (passwordResetForm.get('confirmPassword')?.dirty ||
           passwordResetForm.get('confirmPassword')?.touched)
           )">Este campo es requerido.
          </mat-error>
          <mat-error *ngIf="(
           passwordResetForm.get('confirmPassword')?.hasError('minlength') &&
           (passwordResetForm.get('confirmPassword')?.dirty ||
           passwordResetForm.get('confirmPassword')?.touched)
           )">La contraseña debe tener al menos 4 caracteres.
          </mat-error>

        </mat-form-field>
        <mat-error *ngIf="passwordResetForm.errors?.['mismatch']" class="password__reset__mismatch">
          <mat-icon class="error-messages__item__icon">warning</mat-icon>
          Las contraseñas no coinciden
        </mat-error>
        <mat-card-actions align="start">
        <button mat-button color="primary" type="submit">Save</button>
        <button mat-button color="warn" (click)="navigate()">Cancel</button>
      </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</section>
