
.password__forgot{
  padding-top: 20px;
  margin: 0 auto;
}
.password__forgot__form {
  width: 100%;
}
.password__forgot__input{
  width: 100%;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .password__forgot{
    max-width: 80%;
  }
}
