
<section class="incomings__container" [@fadeInOnEnter]>
  <div class="incomings__title">
    <h2>Ingresos </h2>
  </div>
  <div class="total__container">
    <wal-total [title]="'Ingresos del mes'" [total]="totalMonthIncoming"
               [icon]="'/assets/arrow-up.json'"
               [iconColor]="'primary:#6d42ba'"></wal-total>
    <wal-total [title]="'Ingresos del año'" [total]="totalYearIncomings"
               [icon]="'/assets/arrow-down.json'"
               [iconColor]="'primary:#ff6ba4'"></wal-total>
  </div>

  <div class="operation__list--container">
    <wal-generic-operation-list [title]="title" [operations]="IncomingsAccountMovements$"
    ></wal-generic-operation-list>
  </div>

  <wal-operations-graphics [barChar]="barChar"></wal-operations-graphics>
</section>
