
<section class="incomings__container" [@fadeInOnEnter]>
  <div class="incomings__title">
    <h2>Incomings </h2>
  </div>
  <div class="total__container">
    <wal-total [title]="'Month incomings'" [total]="totalMonthIncoming"
               [icon]="'/assets/arrow-up.json'"
               [iconColor]="'primary:#6d42ba'"></wal-total>
    <wal-total [title]="'Year incomings'" [total]="totalYearIncomings"
               [icon]="'/assets/arrow-up.json'"
               [iconColor]="'primary:#6d42ba'"></wal-total>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="operation__list--container">
    <wal-generic-operation-list [title]="title" [operations]="IncomingsAccountMovements$"
    ></wal-generic-operation-list>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="operations__graphics__container">
  <wal-operations-graphics [barChar]="barChar"></wal-operations-graphics>
  </div>
</section>
