html,
body {
  height: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.mat-content {
  overflow-x: auto !important;
}

.title {
  padding: 25px 0 0 1%;
  color: #673ab7;
  font-weight: 100;
  width: 90%;
}


   .overlay {
     position: fixed;
     display: block;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(74, 74, 74, .8);
     z-index: 99999;
   }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.login__container__top {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__top__banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.login__top__banner--img {
  display: inline-block;
  width: 3rem;
  padding-right: 15px;
}

.login__top__banner--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login__top__banner--text h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.login__container__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 -2px 8px -2px rgba(171, 171, 171, 1);
  background-color: #f1f4f8;
  padding: 40px 5px;
  margin-bottom: 15px;
}

.login__container__bottom h2 {
  padding-left: 8%;
  margin-bottom: 15px;
  align-self: flex-start;
}

.login__form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__form__fieldset {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
  border: 1px solid rgba(116, 116, 116, 0.445);
  border-radius: 10px;
  margin-bottom: 15px;
}

.login__form__fieldset label {
  position: absolute;
  top: -10px;
  z-index: 100;
  background-color: #f1f4f8;
}

.login__form__fieldset input {
  background-color: #f1f4f8;
  border: none;
  padding: 10px 0;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f1f4f8 inset !important;
}

.login__form__btn__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.login__form__btn__container a {
  font-size: 0.8rem;
  text-decoration: none;
}

.login__form__btn__register_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 25px;
}

.error {
  color: red;
}


.deposit-icon {
  color: rgba(103, 58, 183, 1);
  font-size: 1.3rem
}

.payment-icon {
  color: rgba(255, 44, 125, 1);
  font-size: 1.3rem
}

.transfer-in-icon {
  color: rgba(103, 58, 183, 1);
  font-size: 1.2rem
}


.transfer-out-icon {
  color: rgba(255, 44, 125, 1);
  font-size: 1.2rem
}

.total__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.operations__graphics__container {
  margin: 25px auto;
  width: 90%;
}
.toast-bottom-right {
  bottom: 50px !important;
}
