<ul class="transactions__btns__container">
  <li>
    <button type="button" [attr.data-type]="'DEPOSIT'" (click)="openDialog($event)" class="btn">
      Deposit
      <i class="fa-solid fa-circle-arrow-down fa-xs btn__icon"></i>
    </button>
  </li>
  <li>
    <button type="button" [attr.data-type]="'PAYMENT'" (click)="openDialog($event)" class="btn">
      Payment
      <i class="fa-solid fa-arrow-up-right-from-square btn__icon"></i>
    </button>
  </li>
  <li>
    <button type="button" [attr.data-type]="'TRANSFER'" (click)="openDialog($event)" class="btn">
      Transfer
      <i class="fa-solid fa-arrow-right-arrow-left btn__icon"></i>
    </button>
  </li>
</ul>
