<ul class="transactions__btns__container">
  <li  class="transactions__btns__item">
    <button class="btnIcon" mat-flat-button color="primary" type="button" data-type='DEPOSIT' (click)="openDialog($event)">Deposit
    </button>
    <lord-icon
      src="/assets/deposit-icon.json"
      trigger="hover"
      target=".transactions__btns__item"
      colors="primary:#6d42ba">
    </lord-icon>
  </li>
  <li  class="transactions__btns__item">
    <button class="btnIcon" mat-flat-button color="primary" type="button" data-type='PAYMENT' (click)="openDialog($event)">Payment
    </button>
    <lord-icon
      src="/assets/payment-icon.json"
      trigger="hover"
      target=".transactions__btns__item"
      colors="primary:#6d42ba">
    </lord-icon>
  </li>
  <li  class="transactions__btns__item">
    <button class="btnIcon" mat-flat-button color="primary" type="button" data-type='TRANSFER' (click)="openDialog($event)">Transfer
    </button>
    <lord-icon
      src="/assets/transfer-icon.json"
      trigger="hover"
      target=".transactions__btns__item"
      colors="primary:#6d42ba">
    </lord-icon>
  </li>
</ul>
