<ul class="transactions__btns__container">
  <li>
    <button mat-raised-button color="primary" type="button" data-type='DEPOSIT' (click)="openDialog($event)">
      Deposit
      <mat-icon>save_alt</mat-icon>
    </button>
  </li>
  <li>
    <button mat-raised-button color="primary" type="button" data-type='PAYMENT' (click)="openDialog($event)">
      Payment
      <mat-icon>send</mat-icon>
    </button>
  </li>
  <li>
    <button mat-raised-button color="primary" type="button" data-type='TRANSFER' (click)="openDialog($event)">
      Transfer
      <mat-icon>cached</mat-icon>
    </button>
  </li>
</ul>
