<mat-toolbar class="bottom__navbar__container" color="primary">
  <!--LINKS-->
  <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"
       routerLink="/{{link.toLowerCase()}}">
      <button mat-icon-button>
        <ng-container [ngSwitch]="link">
          <mat-icon [ngClass]="{'active': activeLink == link}" *ngSwitchCase="'Home'">home</mat-icon>
          <mat-icon [ngClass]="{'active': activeLink == link}" *ngSwitchCase="'Ingresos'">trending_up</mat-icon>
          <mat-icon [ngClass]="{'active': activeLink == link}" *ngSwitchCase="'Egresos'">trending_down</mat-icon>
        </ng-container>
      </button>
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <!--PROFILE-->
  <wal-profile></wal-profile>
</mat-toolbar>

