
.operation__list--container {
  width: 90%;
  margin: 50px auto;
  overflow: auto;
}

.mat-filter {
  width: 75%;
}

.green {
  color: rgba(103, 58, 183, 1);
}

.red {
  color: rgba(255, 44, 125, 1);
}
