.operation__list--container {
  width: 90%;
  margin: 50px auto;
  overflow-x: scroll;
}

table {
  overflow-x: scroll;
}

.operation__list--container h2 {
  font-size: 1.5rem;
}

.mat-filter {
  width: 75%;
}

.green {
  color: rgba(103, 58, 183, 1);
}

.red {
  color: rgba(255, 44, 125, 1);
}
